@{
   var db = Database.Open("Empty Site");
   var selectQueryString = "SELECT * FROM login ORDER BY username";
}

<!DOCTYPE html>

<html lang="en">
    <head>
   <title>Login List</title>
   <style>
       table, th, td {
         border: solid 1px #bbbbbb;
         border-collapse: collapse;
         padding: 2px;
       }
    </style>
 </head>
 <body>
   <h1>Login List</h1>
      @Html.ValidationSummary("Errors with your submission:")
   <table>
       <thead>
           <tr>
               <th>Id</th>
               <th>UserName</th>
               <th>PassWord</th>
       <th>email </th>
           </tr>
       </thead>
       <tbody>
           @foreach(var row in db.Query(selectQueryString)){
            <tr>
               <td>@row.id</td>
                   <td>@row.username</td>
                   <td>@row.password</td>
                   <td>@row.email</td>
            </tr>
           }
       </tbody>
   </table>
</body>
</html>
